<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
	<%= link_to "Movie Reviews", root_path, class: "navbar-brand" %>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="nav navbar-nav">
			<% if user_signed_in? %>
			<p class="navbar-text float-right">Logged in as  <strong><%= current_user.email %></strong></p>
			<li><%= link_to "New Movie", new_movie_path, class: "navbar-link" %></li>
			<li><%= link_to "Edit profile", edit_user_registration_path, class: 'navbar-link' %> </li>
			<li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link'  %></li>
			<li><%= image_tag current_user.gravatar_url, class: "gravatar" %></li>
			<% else %>
			<li><%= link_to "Sign Up", new_user_registration_path, class: "navbar-link" %></li>
			<li><%= link_to "Login", new_user_session_path, class: 'navbar-link' %></li>
			<% end %>
		</ul>
	</div>
</nav>

